#container {
  margin: 0 auto;
  width: 900px;
}

#headline {
  font-size: 42px;
  color: black;
  font-family: arial, sans-serif;
  text-align: center;
}

#byline {
  font-family: arial, sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  font-style: italic;
  padding-top: .5em;
}

h2 {
  font-family: arial, sans-sans-serif;
  font-size: 28px;
  color: black;
  text-align: left;
  font-style: normal;
}


p {
  color: black;
  text-align: left;
  font-family: "times new roman", serif;
  font-size: 18px;
  font-style: normal;
  padding-top: 1em;
  padding-bottom: 1em;
}

#footer {
  font-family: arial, sans-serif;
  font-size: 18px;
  color: white;
  font-style: normal;
  text-align: center;
  background-color: black;
  padding: 1em;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.caption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-family: arial, sans-serif;
  font-size: 18px;
  color: gray;
  width: 700px;
}

#columns {
  column-count: 3;
  column-rule-width: 5px;
  column-width: auto;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 2em;
}
