#content {
  margin: 0 auto;
  width: 900px;
}

#headline {
  font-family: "papyrus", serif;
  font-size: 48px;
  color: red;
}

#byline {
  font-family: "futura", sans-serif;
  font-weight: slight;
  font-size: 14px;
  font-style: italic;
}

p {
  font-family: "helvetica", "arial", sans-serif;
  font-size: 12px;
}

h2 {
  font-family: "papyrus", sans-serif;
  font-size: 28px;
  font-style: bold;
  text-align: center;
}

blockquote {
  font-size: 24px;
  font-family: arial, sans-serif;
  font-style: italic;
  color: skyblue;
  margin: 1 auto;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  padding: 5px;
}
        /*this allows me to size and center the block quote the way I want to*/


.block {
  align-items: center;
}
